# Core API
fastapi
uvicorn
python-dotenv
pydantic
python-multipart
starlette

# Google APIs
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai

# Database
pg8000
supabase

# AI / ML
apscheduler

# Utilities
httpx
requests
cryptography
PyYAML
